*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #d69fd3, #90a5cb);   
}

.input{
    width: 100%;
    max-width: 540px;
    background: #b0d7e4;
    border: 3px solid rgb(7, 1, 12);
    margin: 0px auto 20px;
    padding: 50px 30px 40px;
    border-radius: 20px;
}

.input h2{
    color: #2b0338;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#input-form{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    color: #2b0338;
}

.inp{
    margin: 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px;
    display: flex;
    border: 2px solid rgb(4, 0, 7);
    border-radius: 20px;
}

.inp:focus{
    border-color:rgb(72, 19, 115);
    outline: none;
}

#inputNumber{
    width: 70px;
    display: flex;
}

#sub{
    background-color: #c291c0;
}

#output{
    margin: 10px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: #b0d7e4;
    border: 3px solid rgb(13, 1, 22);
    height: 100px;
    width: 400px;
    border-radius: 20px;
    color: rgb(16, 1, 28);
}

#showValue{
    font-size: 30px;
}